@model MvcGrabBag.Web.Models.ProductInput

@{
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Product</h2>


<form action="" method="post">
    
    <div class="two-column">
    
        <div class="field-group">
            @Html.FullFieldEditor(m => m.Id)
            @Html.FullFieldEditor(m => m.Name)
            @Html.FullFieldEditor(m => m.Price)
            @Html.FullFieldEditor(m => m.Description)
        </div>
        
        <div class="field-group">
            @Html.FullFieldEditor(m => m.SalePrice)
            @Html.FullFieldEditor(m => m.FeaturedDescription)

            @Html.FullFieldEditor(m => m.DisplayMode)
            @Html.FullFieldEditor(m => m.DisplayModeRadio)
            @Html.FullFieldEditor(m => m.DisplayModesListBox)
            @Html.FullFieldEditor(m => m.DisplayModes)
            @Html.FullFieldEditor(m => m.DisplayModeReadOnly)
        </div>
    </div>
    
    <div class="clear-fix"></div>
   
    <input type="submit" value="Save"/>
</form>